@model List<Author>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <body>
            <h1> Manual Author </h1>
            <table class="table">
                <tr >
                    <td >Authorid</td>
                    <td >Name</td>
                    <td >Country</td>
                    <td >Primarynumber</td>
                </tr>
                @foreach (var singleBook in Model)
                {
                            <tr >
                                <td >@singleBook.AuthorId</td>
                                <td >@singleBook.Name</td>
                                <td >@singleBook.country</td>
                                <td >@singleBook.primarynumber</td>
                    </tr>
                }



            </table>
    </body>
</html>

