@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Author>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Name</td>
        <td>Country</td>
        <td>Primarynumber</td>
    </tr>

    
